<!DOCTYPE html>
<html>
<head>
  <title>Rails Example with Flight</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <% unless notice.nil? %><p><%= notice %></p> <% end %>
  <% unless alert.nil?  %><p><%= alert  %></p> <% end %>
  <%= yield %>
</body>
</html>
